{% extends 'base.html' %}
{% load static %}
{% load bag_tags %}

{% block content %}
    <section class="container">
        <h1 class="title">Shopping bag</h1>
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
            <div class="items">
                {% for item in bag_items %}
                    <div class="bag-item d-flex gap-4 mb-4">
                        <div class="bag-item-img rounded-4 col-5">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" draggable="false">
                        </div>
                        <div class="bag-item-info col-6">
                            <p>{{ item.product.name }}</p>
                            {% if item.product.discount_percentage > 0 %}
                                <span class="align-self-end original-price">€ {{ item.product.price }}</span>
                                <p><b>€ {{ item.product.discounted_price }}</b></p>
                            {% else %}
                                <p><b>€ {{ item.product.price }}</b></p>
                            {% endif %}
                            <p><b>In stock: </b>{{ item.product.quantity_in_stock }}</p>
                            <form action="{% url 'update_bag' item.product.id %}" method="post">
                                {% csrf_token %}
                                <label for="quantity-{{ item.product.id }}" class="mb-1"><b>Quantity: </b></label>
                                <div class="input-group mb-4">
                                    <button type="button" class="quantity-dec" data-product-id="{{ item.product.id }}">-
                                    </button>
                                    <input type="number" name="quantity" id="quantity-{{ item.product.id }}"
                                           class="quantity-num" readonly value="{{ item.quantity }}" min="1"
                                           max="{{ item.product.quantity_in_stock }}">
                                    <button type="button" class="quantity-inc" data-product-id="{{ item.product.id }}">+
                                    </button>
                                </div>
                                <p><b>Subtotal: </b>{{ item.price|calc_subtotal:item.quantity }}</p>

                                <button type="submit" class="purple-link me-3 me-md-5" id='quantity-update'>Update
                                </button>
                                <a href="{% url 'remove_from_bag' item.product.id %}" class="purple-link">Remove</a>
                            </form>
                        </div>
                    </div>
                    {% empty %}
                    <p>Your bag is empty now, <a href="{% url 'products' %}" class="purple-link">continue shopping.</a>
                    </p>
                {% endfor %}
            </div>
            {% if bag_items %}
                <div class="bag-totals p-4 mb-3 text-center align-self-lg-start">
                    <p><b>Order Summary</b></p>
                    <hr>
                    <p>Total: € {{ total }}</p>
                    <p>Shipping: {% if delivery %}€ {{ delivery }}.00{% else %} Free {% endif %}</p>
                    <hr>
                    <p>Grand Total: € {{ grand_total }}</p>
                    <a href="{% url 'checkout' %}" class="btn purple-btn" id="checkout-btn">CHECKOUT</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/bag_item_quantity.js' %}"></script>
{% endblock %}