{% extends "base.html" %}

{% load static %}

{% block content %}
    <section id="heroCarousel" class="carousel slide carousel-height" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner carousel-height">
            <div class="carousel-item active">
                <img src="{% static 'images/slider_guitar_img.webp' %}" draggable="false"
                     class="d-block w-100 carousel-img"
                     alt="Guitar image">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="title d-none">Musical instrument store</h1>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slider_piano_img.webp' %}" draggable="false"
                     class="d-block w-100 carousel-img"
                     alt="Paino image">
                <div class="carousel-caption d-none d-sm-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slider_drums_img.webp' %}" draggable="false"
                     class="d-block w-100 carousel-img"
                     alt="Drums image">
                <div class="carousel-caption d-none d-sm-block">
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </section>
    <section class="container mb-5 top-products">
        <div class="row">
            <div class="col">
                <h2 class="mt-5 mb-4 title">Top Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="card item-card mb-4 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <img class="card-img mb-2" src="{% static 'images/guitar.jpeg' %}" draggable="false"
                             alt="guitar">
                        <p class="text-center">Electro-guitar</p>
                        <span class="align-self-end">€ 499</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about mb-5">
        <div class="row container">
            <div class="col px-0">
                <h2 class="mt-5 mb-4 title">About us</h2>
            </div>
        </div>
        <div class="d-flex flex-column container flex-md-row justify-content-center align-items-md-center gap-md-5">
            <div class="about_img w-md-100 col-md-6">
                <img src="{% static 'images/our_store.webp' %}" alt="Our store">
            </div>
            <p class="about-info mb-5 mt-3 col-md-5">At M-Tune, we have been harmonizing the chords of the music retail
                industry for
                years, resonating with a symphony of quality, variety, and personalized service. Born out of a
                passion for music and a desire to bring it closer to everyone, our store has become a sanctuary for
                music enthusiasts, budding artists, and professional musicians alike.</p>
        </div>
        <div class="ticker bg-black my-md-5">
            <p class="text-white text-center py-2 font-days mb-0">Free Shipping on Orders Over €100 – Make Your Musical
                Dreams a Reality with M-Tune!</p>
        </div>
        <div class="d-flex flex-column container flex-md-row justify-content-center align-items-md-center gap-md-5">
            <p class="about-info mt-5 mb-3 col-md-5">At M-Tune, we have been harmonizing the chords of the music retail
                industry for
                years, resonating with a symphony of quality, variety, and personalized service. Born out of a
                passion for music and a desire to bring it closer to everyone, our store has become a sanctuary for
                music enthusiasts, budding artists, and professional musicians alike.</p>
            <div class="about_img w-md-100 col-md-6">
                <img src="{% static 'images/community.webp' %}" alt="Our community">
            </div>
        </div>
    </section>
    <section class="newsletters">
        <div class="container d-flex flex-column flex-md-row align-items-md-center">
            <div class="mt-3 col-md-7">
                <h3 class="title text-white mb-0">Sign up for Newsletters</h3>
                <p class="text-white">to get E-mails updates about our special offers</p>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="email" name="newsletter_email" id="newsletter_email"
                       aria-describedby="news_btn" aria-label="Subscription for newsletters"
                       placeholder="Enter your E-mail">
                <button type="button" class="btn bg-black p-2 text-white" id="news_btn">Sign Up</button>
            </div>
        </div>
    </section>
{% endblock %}