{% extends 'profiles/profile.html' %}

{% block main %}
    <h2>Orders</h2>
    {% for order in orders %}
        <div class="order">
            <hr>
            <h5 class="order-number"><b>Order Number: </b>{{ order.order_number }}</h5>
            <h6><b>Items:</b></h6>
            {% for item in order.items.all %}
                <p class="ms-2">{{ item.product.name }} <b>|</b> Qty: {{ item.quantity }}</p>
            {% endfor %}
            <p><b>Payment status: </b>
                {% if order.paid %}
                    <span class="text-success">Successfuly paid!</span>
                {% else %}
                    <span class="text-danger">Incomplete</span>
                {% endif %}</p>
            <div class="d-flex justify-content-between">
                <p><b>{{ order.created }}</b></p>
                <p><b>Total:</b> € {{ order.grand_total }}</p>
            </div>
        </div>
        {% empty %}
        <p>You have no orders yet.</p>
    {% endfor %}
{% endblock %}