{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h1 class="title">Profile</h1>
        <nav>
            <ul class="d-flex gap-3 gap-md-5 justify-content-center">
                <li>
                    <a href="{% url 'profile' %}"
                       class="{% if request.path == '/profile/' %}account-active{% endif %} account-sections">Account</a>
                </li>
                <li>
                    <a href="{% url 'orders' %}"
                       class="{% if request.path == '/profile/orders/' %}account-active{% endif %} account-sections">Orders</a>
                </li>
                <!--<li>-->
                <!--    <a class="{% if request.path == '/profile/shipping_info/' %}
                    account-active{% endif %} account-sections"-->
                <!--       href="{% url 'shipping_info' %}">Shipping Info</a>-->
                <!--</li>-->
            </ul>
        </nav>
        <div class="my-5 col-11 col-md-8 mx-auto">
            {% block main %}
                <p><b>Username:</b> {{ request.user.username }}</p>
                <p class="mb-5"><b>Email:</b> {{ request.user.email }}</p>
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="purple-link me-4">Add Product</a>
                {% endif %}
                <a href="{% url 'account_change_password' %}" class="purple-link">Change Password</a><br>
                <a href="{% url 'account_logout' %}" class="btn purple-btn mt-4">Logout</a>
            {% endblock %}
        </div>
    </section>
{% endblock %}