{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h1 class="title">Profile</h1>
        <nav>
            <ul class="d-flex gap-3 gap-md-5 justify-content-center">
                <li>
                    <a href="{% url 'profile' %}">Account</a>
                </li>
                <li>
                    <a href="{% url 'orders' %}">Orders</a>
                </li>
                <li>
                    <a href="{% url 'shipping_info' %}">Shipping Info</a>
                </li>
            </ul>
        </nav>
        {% block main %}
            <p>Account settings</p>
        {% endblock %}
    </section>
{% endblock %}