{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bag_tags %}

{% block content %}
    <section class="container my-5">
        <h1 class="title">Checkout</h1>
        <div class="row mt-5">
            <form method="post" action="{% url 'checkout' %}" class="checkout-form col-6 d-flex flex-column">
                {% csrf_token %}
                <h2>Details</h2>
                {{ form|crispy }}
                <button type="submit" class="btn purple-btn align-self-end">Complete order</button>
            </form>
            <div class="col-6">
                <h2>Order summary</h2>
                <hr>
                {% for item in bag_items %}
                    <div class="d-flex gap-3">
                        <div class="bag-item-img rounded-4 w-50">
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" draggable="false">
                        </div>
                        <div>
                            <p>{{ item.product.name }}</p>
                            <p><b>Quantity: </b>{{ item.quantity }}</p>
                            <p><b>Subtotal: </b>{{ item.price|calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {% if bag_items %}
                    <div class="mb-3 text-end">
                        <p>Total: € {{ total }}</p>
                        <p>Shipping: {% if delivery %}€ {{ delivery }}.00{% else %} Free {% endif %}</p>
                        <p class="mt-5">Grand Total: € {{ grand_total }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}