{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2 class="title">Edit Product</h2>
        <form action='' method="POST" class="contact-form mb-2"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="text-right mb-5">
                <a href="{% url 'products' %}" class="btn btn-outline-black">Cancel</a>
                <button type="submit" class="btn purple-btn">Update Product</button>
            </div>
        </form>
    </div>
{% endblock %}